.underconstruction {
    text-align: center;
    font-family: 'Changa', sans-serif;
    color: red
}

p{
    color: red;
    font-family: 'Changa', sans-serif;
}

.underconsruction:hover{
    color: black;
}

a:link, a:visited, a:active {
    text-decoration:none;
}

body{
    max-height: auto;
    max-width: auto;
}

